<%= render 'restaurants/navbar'  %>

<h2>Add a new review for <%= @restaurant.name  %></h2>
<%=  form_for [@restaurant, @review] do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.label :rating %>
  <%= f.select :rating, ["0", "1", "2", "3", "4", "5"] %>

  <%= f.submit %>

<% end %>
